PORTA=443
TOKEN=SUBSTITUA_PELA_CHAVE_API_DO_CLIENTE
WEBHOOK_FUNCOES=https://api.editacodigo.com.br/baiy/api/index.php
WEBHOOK_MENSAGENS=https://{SITE_DO_CLIENTE}/login/painel/api/recebe.php
WEBHOOK_VALIDATE=https://{SITE_DO_CLIENTE}/login/painel/api/cron.php
